.inicio-fundo {
  background: linear-gradient(to bottom, indigo 20%, black 80%); 
  height: 100vh; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  padding: 0; 
}

.inicio-box {
  background-color: indigo;
  padding: 20px;
  border-radius: 8px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  border: 1px solid black; 
}

.inicio-titulo {
  font-size: 3rem;
  font-weight: 400;
  color: white;
}

.inicio-subtitulo {
  font-size: 1.125rem;
  color: white;
}

.inicio-sessao {
  margin-top: 2rem;
}

.inicio-sessao-titulo {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: white;
}

.inicio-lista {
  list-style-type: none;
  padding: 0;
}

.inicio-lista-item {
  font-size: 1rem;
  color: white;
  margin-bottom: 0.5rem;
}
